@import "../../node_modules/antd/dist/antd.css";

.ant-layout {
    height: 100%;
    background: #1d1d1d;
}
.ant-layout-header {
    position: relative;
}
.ant-layout-sider-children {
    position: fixed;
    width: inherit;
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    color:white;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
.content-scroll-box {
    overflow-y: scroll;
    position: relative;
}

h1,
h2,
h3,
h4 {
    color: white;
}
::-webkit-scrollbar {
    width: 0.8em;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: #1d1d1d !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(53, 53, 53);
    border-radius: 50px;
    outline: 1px solid black;
}
