/* Provide sufficient contrast against white background */

#root {
  height: 100vh;
}

svg {
  max-height: 100%;
  max-width: 100%;
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
