.landingPage {
  margin: auto;
  width: 50%;
  height: 50%;
}
.landingPage .container {
    position: relative;
    top: 50%;
}
.socialRow {
  max-height: 50px;
  margin: auto;
  width: 50%;
  display: grid;
  justify-content: center;
  column-gap: 3em;
  grid-template-columns: 100px 100px 100px;
}

.socialRow svg {
  fill: white;
  transition: all 0.5s ease;
}
.socialRow a {
    height: inherit;
    fill: purple;
}
a svg:hover {
    fill:inherit;
  }