.landingPage {
  margin: auto;
  width: 50%;
  height: 50%;

  .container {
    position: relative;
    top: 50%;
  }
}

.socialRow {
  max-height: 50px;
  margin: auto;
  width: 50%;
  display: grid;
  justify-content: center;
  column-gap: 3em;
  grid-template-columns: repeat(3, 5em);


  a {
    height: inherit;
    fill: purple;

    svg {
      fill: white;
      transition: all 0.5s ease;
    }
    
    svg:hover {
      fill: inherit;
    }
  }


}